<div class="container" style="width: 800px">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Informacion</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Argumentos de entrada</th>
      <td>{{1}}</td>

    </tr>
    <tr>
      <th scope="row">Sistema operativo</th>
      <td>{{2}}</td>

    </tr>
    <tr>
      <th scope="row">Versión de node.js</th>
      <td>{{3}}</td>
    </tr>
    <th scope="row">Memoria total reservada (rss)</th>
      <td>{{4}}</td>
    </tr>
    <tr>
    <th scope="row">Path de ejecución</th>
      <td>{{5}}</td>

    </tr>
    <tr>
      <th scope="row">Process id</th>
      <td>{{6}}</td>
    </tr>
        <tr>
      <th scope="row">Carpeta del proyecto</th>
      <td>{{7}}</td>
    </tr>
  </tbody>
</table>

</div>

<script>

    console.log({{1}} , {{2}} , {{3}} , {{4}} , {{5}} , {{6}} , {{7}});

</script>