    <div class="container">

    <h1>Chat multilateral capisimo</h1>
    <form id="form">
        Nickname <input type="text"  class="inp" name="inputNick" id="inputNick">
        Nombre <input type="text" class="inp"  name="nombre" id="inputNombre">
        Apellido <input type="text" class="inp"  name="apellido" id="inputApellido">
        email <input type="text" class="inp"  name="email" id="inputEmail">
        edad <input type="number" class="inp"  name="edad" id="inputEdad">
        Mensaje <input type="text" class="inp"  name="inputMsg" id="inputMsg">
        <button type="submit" id="btnSend">Enviar</button>
    </form>
    
    <h5 id="alertaChat"></h5>
    <fieldset>
    <center id="percentage"></center>
        <div id="messageBox">
            <ul id="messageList">

            </ul>
        </div>
    </fieldset>


    </div>