<div class="container">

<h1>Cargar producto</h1>

{{>addProdForm}}

{{#if mensaje}}
<h1>{{mensaje}}</h1>
{{/if}}

<button class="btn btn-info"><a href="./listaProductos">Ver Todos los Productos</a></button>