<div class="container" >
 <form onSubmit="addingProd()" action="/">
                    <h1>Agregar Producto</h1>
                    <div class="mb-3">
                        <label for="productName" class="form-label">Titulo</label>
                        <input type="text" class="form-control inpProd" name="title" id="productName">
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">precio</label>
                        <input type="number" class="form-control inpProd" name="price" id="precio">
                    </div>
                    <div class="mb-3">
                        <label for="imagenURL" class="form-label">thumbnail</label>
                        <input type="text" class="form-control inpProd" name="thumbnail" id="imagenURL">
                    </div>
                    <button type="submit" id="btnAddProd" class="btn btn-success">Agregar</button>
                </form>


</div>