    <h1>Chat multilateral capisimo</h1>
    <form onSubmit="addMsg(); return false">
        Nickname <input type="text"  class="inp" name="inputNick" id="inputNick">
        Mensaje <input type="text" class="inp"  name="inputMsg" id="inputMsg">
        <button type="submit" id="btnSend">Enviar</button>
    </form>
    <fieldset>
        <div id="messageBox">
            <ul id="messageList">

            </ul>
        </div>
    </fieldset>