<table class="table-dark">
      <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>

    {{#each productos}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td><img src="{{this.price}}" alt="{{this.title}}"></td>
      </tr>
    {{/each}}

  </tbody>
  </table>

