h1 {
  color: grey
}

img{
  height: 30px;
}
.main{
  width: 80vw;
}
.container{
  width: 80%;
  margin-top: 2rem;
}
#messageList{
  list-style-type: none;
  margin: 0;
 
}
.msgNickname{
  color: green;
  font-weight: 900;
}
.msgTimestamp{
  color: brown;
  font-weight: 400;
  font-size: small;
}
#form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
.avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}