<form method="post" action="/login">
  
  <div class="form-outline">
    <input name="nombre" type="text" id="lognombre" class="form-control" />
    <label class="form-label" for="lognombre">Nombre</label>
  </div>
  <h5 id="alertlog"></h5>
  <button type="submit" class="btn btn-primary btn-block" id="logginbtn">Go!</button>

</form>