<div id="lognav">
  <h1>
    Bienvenido a la página
    {{nameLoged}}
  </h1>

  <a href="/logout">
    <button type="submit" class="btn btn-primary btn-block" id="logoutbtn">
      Logout
    </button>
  </a>
</div>